#app {
  .ant-layout {
    min-height: 100vh;
  }

  .content-enter-from,
  .content-leave-to {
    transform: translateX(30px);
    opacity: 0;

  }

  .content-enter-to,
  .content-leave-from {
    opacity: 1;
  }

  .content-enter-active,
  .content-leave-active {
    transition: all .6s ease;
  }
}

//按钮
.ant-btn {
  height: 36px;
  width: max-content;

  span {
    height: 36px;
    line-height: 36px;
  }
}

.ant-form-item {
  line-height: 36px;

  .ant-input-affix-wrapper {
    line-height: 36px;
  }
}